@using Estacionamento.Models
@model IEnumerable<Ticket>
@{
    ViewData["Title"] = "Ticket";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Tickets</h1>
     <a class="btn btn-primary btn-novo" asp-area="" asp-controller="Tickets" asp-action="Novo">Novo</a></li>
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nome do Cliente</th>
                <th>Placa do Carro</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Local</th>
                <th>Data De Entrada</th>
                <th>Valor Total</th>
                <th>Data De Saida</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model) {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Veiculo.Cliente.Nome</td>
                    <td>@item.Veiculo.Placa</td>
                    <td>@item.Veiculo.Marca</td>
                    <td>@item.Veiculo.Modelo</td>
                    <td>@item.Vaga.CodigoLocalizacao</td>
                    <td>@item.DataEntrada.ToString("dd/MM/yyy HH:mm")</td>
                    <td>
                        @{
                            var valorFinal = item.DataSaida.HasValue
                                ? item.Valor
                                : item.ValorTotal(ViewBag.ValorDoMinuto, DateTime.Now);
                        }
                        @valorFinal?.ToString("C", new System.Globalization.CultureInfo("pt-BR"))
                    </td>
                    <td>@item.DataSaida?.ToString("dd/MM/yyy HH:mm")</td>
                    <td>
                        <form onsubmit="return confirm('Confirma?')" asp-route-id="@item.Id" asp-action="Apagar" asp-controller="Tickets" method="post">
                            <input type="hidden" name="id" value="">
                             <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                    <td>
                        <form onsubmit="return confirm('Confirma Pagamento?')" asp-route-id="@item.Id" asp-action="Pago" asp-controller="Tickets" method="post">
                            <button class="btn btn-success" asp-route-id="@item.Id" asp-action="Pago" asp-controller="Tickets">R$ Pago</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
