@model IEnumerable<Estacionamento.Models.Cliente>

<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="display-5 text-info fw-bold">Clientes</h1>

        <!-- ðŸ” Campo de busca -->
        <form method="get" asp-action="Index" class="d-flex justify-content-center mt-4 mb-3">
            <input type="text" name="busca" class="form-control me-2 w-50" placeholder="Buscar por nome ou CPF..." value="@Context.Request.Query["busca"]" />
            <button type="submit" class="btn btn-outline-info">Pesquisar</button>
        </form>

        <a class="btn btn-primary btn-novo mt-3" asp-controller="Clientes" asp-action="Novo">Novo</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nome</td>
                        <td>@item.Cpf</td>
                        <td>
                            <a asp-controller="Clientes" asp-action="Editar" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                        </td>
                        <td>
                            <form asp-controller="Clientes" asp-action="Apagar" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Confirma?')">
                                <button class="btn btn-danger btn-sm">Excluir</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
